<div class="container mt-3">
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Course</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.studentName }}</td>
        <td>{{ user.course }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <form>
      <input type="text" name="studentName" placeholder="Student Name"><br>
      <input type="text" name="course" placeholder="Course" ><br>
      <input type="text" name="exam" placeholder="Exam" ><br>
      <button type="submit">Submit Student</button>

    </form>
  </div>

</div>

