<div class="container mt-3">
  <h4>File analysis calculation</h4>

  <input type="file" (change)="onFileChange($event)" multiple="false" />

  <p class="font-italic">(.xlsx, .rar, .zip, .7z) Size Limit: 5.00 MB</p>

  <button class="btn btn-info" (click)="calculateAverage()">Calculate Frequency</button>&nbsp;
  <button class="btn btn-info" (click)="calculateAverage()">Calculate Central Tendency</button>

  <table class="table">
    <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let cell of row">
        {{cell}}
      </td>
    </tr>
    </tbody>
  </table>
