<div
  class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between"
>

  <div>
    <a class="title" routerLink="/dashboard">
      <img
        src="../../../assets/moodle-logo.png"
        alt="moodle-logo"
        width="30px"
        class="align-middle"
      />
      {{ title }}</a
    >
  </div>
  <div class="d-flex">
    <div class="btn-group">
      <button
        type="button"
        class="btn dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Grades
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button routerLink='/grades' class="dropdown-item" type="button">
          Students
        </button>

      </div>
    </div>
    <div class="btn-group">
      <button type="button"
        class="btn dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Other
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button routerLink='/discussions' class="dropdown-item" type="button">
            Student Discussion
        </button>
      </div>
    </div>
  </div>
</div>

<div class="text-right custom">
  {{ profText }}
</div>
